@font-face {font-family: "is-iconfont";
  src: url('is-iconfont.eot?t=1509613120964'); /* IE9*/
  src: url('is-iconfont.eot?t=1509613120964#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('is-iconfont.ttf?t=1509613120964') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('is-iconfont.svg?t=1509613120964#is-iconfont') format('svg'); /* iOS 4.1- */
}

[class^="is-icon-"], [class*=" is-icon-"] {
  font-family: 'is-iconfont' !important;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="is-icon-"]:before, 
[class*=" is-icon-"]:before,
[class^="is-icon-"]:after, 
[class*=" is-icon-"]:after,{
  display: inline-block;
}

[class^="is-icon-"]:after, 
[class*=" is-icon-"]:after,{
  vertical-align: middle;
  content: '';
  height: 100%;
  width: 0;
}


.is-icon-adobe:before { content: "\ea01";}
.is-icon-ali-pay:before { content: "\ea02";}
.is-icon-aliwangwang:before { content: "\ea03";}
.is-icon-android-o:before { content: "\ea04";}
.is-icon-android:before { content: "\ea05";}
.is-icon-apple:before { content: "\ea06";}
.is-icon-appstore-o:before { content: "\ea07";}
.is-icon-appstore:before { content: "\ea08";}
.is-icon-area-chart:before { content: "\ea09";}
.is-icon-arrow-down:before { content: "\ea0a";}
.is-icon-arrow-left:before { content: "\ea0b";}
.is-icon-arrow-right:before { content: "\ea0c";}
.is-icon-arrow-up:before { content: "\ea0d";}
.is-icon-arrows-alt:before { content: "\ea0e";}
.is-icon-asterisk:before { content: "\ea0f";}
.is-icon-backward:before { content: "\ea10";}
.is-icon-baidu:before { content: "\ea11";}
.is-icon-bar-chart:before { content: "\ea12";}
.is-icon-barcode:before { content: "\ea13";}
.is-icon-bell:before { content: "\ea14";}
.is-icon-camera-o:before { content: "\ea15";}
.is-icon-caret-down:before { content: "\ea16";}
.is-icon-caret-left:before { content: "\ea17";}
.is-icon-caret-right:before { content: "\ea18";}
.is-icon-caret-up:before { content: "\ea19";}
.is-icon-check-square-o:before { content: "\ea1a";}
.is-icon-check-square:before { content: "\ea1b";}
.is-icon-check:before { content: "\ea1c";}
.is-icon-chrome:before { content: "\ea1d";}
.is-icon-circle-check-o:before { content: "\ea1e";}
.is-icon-circle-check:before { content: "\ea1f";}
.is-icon-circle-close-o:before { content: "\ea20";}
.is-icon-circle-close:before { content: "\ea21";}
.is-icon-close-square-o:before { content: "\ea22";}
.is-icon-close-square:before { content: "\ea23";}
.is-icon-close:before { content: "\ea24";}
.is-icon-cloud-download-o:before { content: "\ea25";}
.is-icon-cloud-download:before { content: "\ea26";}
.is-icon-cloud-upload-o:before { content: "\ea27";}
.is-icon-cloud-upload:before { content: "\ea28";}
.is-icon-coffee:before { content: "\ea29";}
.is-icon-copy:before { content: "\ea2a";}
.is-icon-copyright:before { content: "\ea2b";}
.is-icon-css3:before { content: "\ea2c";}
.is-icon-cut:before { content: "\ea2d";}
.is-icon-d-arrow-left:before { content: "\ea2e";}
.is-icon-d-arrow-right:before { content: "\ea2f";}
.is-icon-d-caret:before { content: "\ea30";}
.is-icon-dashboard:before { content: "\ea31";}
.is-icon-date:before { content: "\ea32";}
.is-icon-delete:before { content: "\ea33";}
.is-icon-dingding:before { content: "\ea34";}
.is-icon-dislike-o:before { content: "\ea35";}
.is-icon-document:before { content: "\ea36";}
.is-icon-dot-chart:before { content: "\ea37";}
.is-icon-down-circle-o:before { content: "\ea38";}
.is-icon-down-circle:before { content: "\ea39";}
.is-icon-down-square-o:before { content: "\ea3a";}
.is-icon-down-square:before { content: "\ea3b";}
.is-icon-download:before { content: "\ea3c";}
.is-icon-edit:before { content: "\ea3d";}
.is-icon-enter:before { content: "\ea3e";}
.is-icon-environment-o:before { content: "\ea3f";}
.is-icon-environment:before { content: "\ea40";}
.is-icon-eye-o:before { content: "\ea41";}
.is-icon-eye:before { content: "\ea42";}
.is-icon-facebook:before { content: "\ea43";}
.is-icon-file-add:before { content: "\ea44";}
.is-icon-file-excel:before { content: "\ea45";}
.is-icon-file-jpg:before { content: "\ea46";}
.is-icon-file-pdf:before { content: "\ea47";}
.is-icon-file-text:before { content: "\ea48";}
.is-icon-file-unknown:before { content: "\ea49";}
.is-icon-filter:before { content: "\ea4a";}
.is-icon-firefox:before { content: "\ea4b";}
.is-icon-folder-add:before { content: "\ea4c";}
.is-icon-folder-open:before { content: "\ea4d";}
.is-icon-folder:before { content: "\ea4e";}
.is-icon-forward:before { content: "\ea4f";}
.is-icon-foursquare:before { content: "\ea50";}
.is-icon-frown-o:before { content: "\ea51";}
.is-icon-frown:before { content: "\ea52";}
.is-icon-github-o:before { content: "\ea53";}
.is-icon-github:before { content: "\ea54";}
.is-icon-global:before { content: "\ea55";}
.is-icon-heart-off:before { content: "\ea56";}
.is-icon-heart-on:before { content: "\ea57";}
.is-icon-home:before { content: "\ea58";}
.is-icon-html5:before { content: "\ea59";}
.is-icon-ie:before { content: "\ea5a";}
.is-icon-inbox:before { content: "\ea5b";}
.is-icon-information-o:before { content: "\ea5c";}
.is-icon-information:before { content: "\ea5d";}
.is-icon-laptop:before { content: "\ea5e";}
.is-icon-left-circle-o:before { content: "\ea5f";}
.is-icon-left-circle:before { content: "\ea60";}
.is-icon-left-square-o:before { content: "\ea61";}
.is-icon-left-square:before { content: "\ea62";}
.is-icon-like-o:before { content: "\ea63";}
.is-icon-link:before { content: "\ea64";}
.is-icon-linkedin:before { content: "\ea65";}
.is-icon-linux:before { content: "\ea66";}
.is-icon-loading:before { content: "\ea67";}
.is-icon-lock:before { content: "\ea68";}
.is-icon-login:before { content: "\ea69";}
.is-icon-logout:before { content: "\ea6a";}
.is-icon-man:before { content: "\ea6b";}
.is-icon-map:before { content: "\ea6c";}
.is-icon-meh-o:before { content: "\ea6d";}
.is-icon-meh:before { content: "\ea6e";}
.is-icon-menu-fold:before { content: "\ea6f";}
.is-icon-menu-unfold:before { content: "\ea70";}
.is-icon-menu:before { content: "\ea71";}
.is-icon-message-o:before { content: "\ea72";}
.is-icon-message:before { content: "\ea73";}
.is-icon-minus-circle-o:before { content: "\ea74";}
.is-icon-minus-circle:before { content: "\ea75";}
.is-icon-minus-square-o:before { content: "\ea76";}
.is-icon-minus-square:before { content: "\ea77";}
.is-icon-minus:before { content: "\ea78";}
.is-icon-mobile:before { content: "\ea79";}
.is-icon-more:before { content: "\ea7a";}
.is-icon-notification:before { content: "\ea7b";}
.is-icon-opera:before { content: "\ea7c";}
.is-icon-paper-clip:before { content: "\ea7d";}
.is-icon-pause-circle-o:before { content: "\ea7e";}
.is-icon-pause-circle:before { content: "\ea7f";}
.is-icon-pause:before { content: "\ea80";}
.is-icon-pay-circle-o:before { content: "\ea81";}
.is-icon-pay:before { content: "\ea82";}
.is-icon-picasa:before { content: "\ea83";}
.is-icon-picture:before { content: "\ea84";}
.is-icon-pie-chart:before { content: "\ea85";}
.is-icon-pinterest:before { content: "\ea86";}
.is-icon-play-circle-o:before { content: "\ea87";}
.is-icon-play-circle:before { content: "\ea88";}
.is-icon-plus-circle-o:before { content: "\ea89";}
.is-icon-plus-circle:before { content: "\ea8a";}
.is-icon-plus-square-o:before { content: "\ea8b";}
.is-icon-plus-square:before { content: "\ea8c";}
.is-icon-plus:before { content: "\ea8d";}
.is-icon-poweroff:before { content: "\ea8e";}
.is-icon-printer:before { content: "\ea8f";}
.is-icon-qq:before { content: "\ea90";}
.is-icon-qrcode:before { content: "\ea91";}
.is-icon-question-circle-o:before { content: "\ea92";}
.is-icon-question-circle:before { content: "\ea93";}
.is-icon-reddit:before { content: "\ea94";}
.is-icon-reload:before { content: "\ea95";}
.is-icon-right-circle-o:before { content: "\ea96";}
.is-icon-right-circle:before { content: "\ea97";}
.is-icon-right-square-o:before { content: "\ea98";}
.is-icon-right-square:before { content: "\ea99";}
.is-icon-rollback:before { content: "\ea9a";}
.is-icon-safari:before { content: "\ea9b";}
.is-icon-safety:before { content: "\ea9c";}
.is-icon-save:before { content: "\ea9d";}
.is-icon-search:before { content: "\ea9e";}
.is-icon-setting-o:before { content: "\ea9f";}
.is-icon-setting:before { content: "\eaa0";}
.is-icon-share:before { content: "\eaa1";}
.is-icon-shopping-cart:before { content: "\eaa2";}
.is-icon-shrink:before { content: "\eaa3";}
.is-icon-smile-o:before { content: "\eaa4";}
.is-icon-smile:before { content: "\eaa5";}
.is-icon-star-off:before { content: "\eaa6";}
.is-icon-star-on:before { content: "\eaa7";}
.is-icon-swap-left:before { content: "\eaa8";}
.is-icon-swap-right:before { content: "\eaa9";}
.is-icon-swap:before { content: "\eaaa";}
.is-icon-table:before { content: "\eaab";}
.is-icon-tag-o:before { content: "\eaac";}
.is-icon-tag:before { content: "\eaad";}
.is-icon-tags-o:before { content: "\eaae";}
.is-icon-tags:before { content: "\eaaf";}
.is-icon-taobao:before { content: "\eab0";}
.is-icon-time-o:before { content: "\eab1";}
.is-icon-time:before { content: "\eab2";}
.is-icon-twitter:before { content: "\eab3";}
.is-icon-uiw:before { content: "\eab4";}
.is-icon-unlock:before { content: "\eab5";}
.is-icon-up-circle-o:before { content: "\eab6";}
.is-icon-up-circle:before { content: "\eab7";}
.is-icon-up-square-o:before { content: "\eab8";}
.is-icon-up-square:before { content: "\eab9";}
.is-icon-upload:before { content: "\eaba";}
.is-icon-user-add:before { content: "\eabb";}
.is-icon-user-delete:before { content: "\eabc";}
.is-icon-user:before { content: "\eabd";}
.is-icon-usergroup-add:before { content: "\eabe";}
.is-icon-usergroup-delete:before { content: "\eabf";}
.is-icon-verification:before { content: "\eac0";}
.is-icon-verticle-left:before { content: "\eac1";}
.is-icon-verticle-right:before { content: "\eac2";}
.is-icon-video-camera:before { content: "\eac3";}
.is-icon-warning-o:before { content: "\eac4";}
.is-icon-warning:before { content: "\eac5";}
.is-icon-weibo:before { content: "\eac6";}
.is-icon-weixin:before { content: "\eac7";}
.is-icon-wifi:before { content: "\eac8";}
.is-icon-windows:before { content: "\eac9";}
.is-icon-woman:before { content: "\eaca";}
.is-icon-zoom-in:before { content: "\eacb";}
.is-icon-zoom-out:before { content: "\eacc";}
